# .gitignore

# Ignore log files etc
makeBook.log
bakeBook.log
indexBook.log
RFCbib6.log
fixCites.log
pdf/baked.aux
pdf/baked.log

# Ignore RFC index
rfc-index.xml

# Ignore Python stuff (see github.com/github/gitignore/blob/main/Python.gitignore)
__pycache__/
*.py[cod]